/*titulo*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
/*subtitulos*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+Pro:wght@200;700&family=Teko:wght@300&display=swap');
/*contenidos*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;;
}
.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #2C2C2C, #0e0e0e);
    position: relative;
    overflow: hidden;
    
}
.bg_footer{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, #2C2C2C, #0e0e0e);
    
}
#bg_title{
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF5F5F;
    text-align: center;
    font-family: 'Karla', sans-serif;
    
}
#bg_title2{
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF5F5F;
    text-align: left;
    font-family: 'Karla', sans-serif;
    
}
.section_center{
    
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.section_center2{
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #2C2C2C, #0e0e0e);
    position: relative;
    overflow: hidden;
    

}


.img{
    width: 350px;
   
    
}

#cotainer{
    padding: 50px;
}





.glassmorfismo{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    background: rgba(62, 212, 189, 0.728);
    border-radius: 20px;
    box-shadow: 12px 8px 32px 10px rgba(63, 22, 129, 0.37);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(6, 89, 100, 0.18);
}
#glassmorfismo{
    width: 80%;
    height: 55%;
}

.glassmorfismo h1{
    padding: 20px;
    font-size: 18px;
    text-align: left;
    color: #FCFCFC;
   
}

.glassmorfismo h1 p{
    font-weight: bolder;
    font-size: 20;
    color: #FF5F5F;
}


.footer_1 li:hover{
    background: #383636;
    font-size: 32px;
}

.footer_1 nav{
    padding: 5px;
}
.footer_1 ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    font-size: 16px;
}
.footer_1 li{
    float: right;
    font-size: 20px;
}

.footer_1 li a{
    display: block;
    color: #83FFE6;
    text-align: center;
    margin-right: 10px;
    margin: 50px;
}



#contacto_li{
    float: left;
}

.footer_1 p{
    font-size: 30px;
    text-align: left;
    display: block;
    margin: 50px;
}

#bg_fondo{
    background: linear-gradient(to right, #2C2C2C, #0e0e0e);
}



/*cuadradoss-----------------------------------------------------*/
.cuadrado{
    
    border-radius: 0%;
    background: white;
    opacity: .3;
    position: absolute;
    bottom: -150;
    animation: cuadrados 3s linear infinite;

}
.cuadrado:hover{
    border-radius:50%;
    background: #83FFE6;
    

    
}
.cuadrado:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
    transform: rotate(180deg);
}

.cuadrado:nth-child(2){
    width: 100px;
    height: 100px;
    left: 15%;
    animation-duration: 5s;
    transform: rotate(200deg);
    
}
.cuadrado:nth-child(3){
    width: 65px;
    height: 65px;
    left: 20%;
    animation-duration: 3s;
    transform: rotate(280deg);
    
}
.cuadrado:nth-child(4){
    width: 25px;
    height: 24px;
    left: 30%;
    animation-duration: 6s;
    animation-delay: 2s;
    transform: rotate(360deg);
}
.cuadrado:nth-child(5){
    width: 45px;
    height: 45px;
    left: 35%;
    animation-duration: 5s;
    transform: rotate(255deg);
}
.cuadrado:nth-child(6){
    width: 35px;
    height: 35px;
    left: 50%;
    animation-duration: 4s;
    transform: rotate(400deg);
}
.cuadrado:nth-child(7){
    width: 100px;
    height: 100px;
    left: 65%;
    animation-duration: 5s;
    animation-delay: 3s;
    transform: rotate(255deg);
}
.cuadrado:nth-child(8){
    width: 50px;
    height: 50px;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 2s;
    transform: rotate(90deg);
}
.cuadrado:nth-child(9){
    width: 120px;
    height: 120px;
    left: 65%;
    animation-duration: 7s;
    transform: rotate(300deg);
}
.cuadrado:nth-child(10){
    width: 15px;
    height: 15px;
    left: 80%;
    animation-duration: 4s;
    transform: rotate(180deg);
}
.cuadrado:nth-child(11){
    width: 50px;
    height: 50px;
    left: 95%;
    animation-duration: 4s;
    transform: rotate(180deg);
}

@keyframes cuadrados{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translate(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}




